<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="stylesheet" type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rankings and Recommendations</title>
    </head>

    <body>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/lyrics">Lyrics</a>
            <a href="/recommend">Recommendation</a>
            <div class="switch-container">
                <label class="switch">
                    <input type="checkbox" id="toggleSwitch">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
        <script src="{{ url_for('static',filename='styles/darkMode.js') }}"></script>
        {% block body %}{% endblock %}
    </body>
</html>