{% extends "layout.html" %}

{% block body %} 

<!-- <button type="button" onclick="location.href='https://accounts.spotify.com/authorize?client_id=e95e9ced32e94e9aa2b3404121acca88&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2F&scope=user-top-read+user-read-recently-played+user-read-currently-playing+user-library-read'"></button>

<a href="">Authorize Spotify</a> -->

<a href="{{ auth_url }}">
    <img src="{{ url_for('static',filename='spotify.png') }}" alt="Spotify Image">
</a>
  
{% endblock %}