{% extends "layout.html" %}

{% block body %}

<form method="post" action="/selected_lyrics">
    <div >
        <div >
            <ul>
                {% for lyric in lyrics %}
                    <input type="checkbox" name="selected_lyrics" value="{{ lyric }}"> {{ lyric }}<br>
                {% endfor %}
            </ul>
        </div>

        <div class="selections">
            <input type="color" id="colorPicker" name="colorPicker" value="#3498db">
            <label for="colorPicker">Font Color</label><br>
            <input type="range" id="fontSize" name="fontSize" min="0" max="25" value="20"><br>
            <input type="submit" value="Generate">

            <select name="bg" id="bg">
                <option value="clouds">Clouds</option>
                <option value="cloudsBlue">Clouds (Blue)</option>
                <option value="foggyRoad">Foggy Road</option>
                <option value="marble" selected="selected">Marble</option>
                <option value="paperCream">Paper (Cream)</option>
                <option value="paperOld">Paper (Old) </option>
                <option value="paperWhite">Paper (White 1) </option>
                <option value="paperWhite2">Paper (White 2) </option>
                <option value="stars"> Stars </option>
            </select>

            <select name="font" id="font">
                <option value="cursive">Cursive</option>
                <option value="slantedCursive">Slanted Cursive</option>
                <option value="handwriting">Handwriting</option>
            </select>
        </div>



    </div>
</form>

{% endblock %}