{% extends "layout.html" %}

{% block body %} 
<div class="container">
    <div class="column">
        Recommended Tracks based on Top Tracks
        <ul>
            {% for track in recommended_tracks['tracks'] %}
                <li> {{ track['name'] }} <a href="{{ track['external_urls']['spotify'] }}" target="_blank"><i class="fa-solid fa-play" style="color: #04AA6D"></i></a> </li>
            {% endfor %}
        </ul>
    </div>
    <div class="column">
        Recommended Tracks based on Top Artists
        <ul>
            {% for track in recommended_by_artists['tracks'] %}
                <li> {{ track['name'] }} <a href="{{ track['external_urls']['spotify'] }}" target="_blank"><i class="fa-solid fa-play" style="color: #04AA6D"></i></a> </li>
            {% endfor %}
        </ul>        
    </div>
  </div>
  
{% endblock %}
