body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: #111;
    color: #fff;
}

body.dark-mode .navbar {
    background-color: #222;
}

body.dark-mode .navbar a {
    color: #fff;
}

body.dark-mode .content {
    color: #fff;
}

.dark-mode-button {
    position: fixed;
    right: 20px;
    top: 20px;
}

.navbar {
    align-items: center;
    background-color: #ECECF1;
    display: flex;
    overflow: hidden;
}

.navbar a {
    color: #00008b;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.switch-container {
    position: absolute;
    right: 50px;
    top: 2%;
    transform: translateY(-50%);
}

.switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.slider {
    background-color: #ccc;
    border-radius: 20px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    border-radius: 50%;
    bottom: 2px;
    content: "";
    height: 16px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.slider-container {
    display: inline-block;
    left: -50%;
    position: relative;
}

.btn-outline-primary {
    border-color: #0d6efd;
    color: #0d6efd;
}

.btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.selection {
    align-items: right;
    display: block;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.selection2 {
    margin: 10px;
    padding: 10px;
    width: 80%;
}

.selection-form {
    align-items: center;
}

.outline {
    border: 4px solid rgb(129, 172, 238);
}

.lbl {
    border-right: 4px solid rgb(129, 172, 238);
    height: 100%;
    margin: 0 10px;
    padding: 12px;
}

.selectionButton {
    font-size: 16px;
}

.container {
    display: flex;
}

.column {
    border: 1px solid #ccc;
    flex: 1;
    padding: 10px;
}

.lyrics-container {
    display: flex;
    justify-content: space-between;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

.selections {
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px;
    text-align: center;
}

#colorPicker {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100px;
    width: 100px;
}

#colorPicker::-webkit-color-swatch {
    border: none;
    border-radius: 15px;
}

#colorPicker::-moz-color-swatch {
    align-self: center;
    border: none;
    border-radius: 15px;
}

label {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

#colorPicker {
    display: block;
    margin-bottom: 10px;
}

.search-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.input-box {
    box-sizing: border-box;
    height: 5%;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.search-button {
    background-color: transparent;
    border: none;
}

.boxes {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
}

.center-block {
    display: block;
    margin: auto;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 12px 30px;
}

.btn:hover {
    background-color: RoyalBlue;
}

.logo {
    margin-right: 5px;
    transform: scale(0.3);
}

.label {
    font-size: 20px;
    text-align: center;
}

.cntr {
    align-items: center;
    display: flex;
    height: 75vh;
    justify-content: center;
    margin: 0;
}

.indexForm {
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: 50%;

    transform: translate(-50%, -50%)
}

.indexForm select,
button,
option {
    background-color: #04AA6D;
    border-radius: 8px;
    color: #fff;
    margin: 20px 0;
    transform: scale(1.75);
}

.rankings {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform: scale(1.75);
    width: fit-content;
}

.coloredInput {
    background-color: #04AA6D;
    border-radius: 8px;
    color: #fff;
    margin: 20px 0;
    transform: scale(1.75);
}

#lyricsSearch::placeholder {
    color: #fff;
}

.genButton {
    background-color: #04AA6D;
    border-radius: 8px;
    color: #fff;
    margin: 20px 0;
    transform: scale(1.75);
}

/* Style for unchecked checkboxes */
.custom-checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #04AA6D;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #04AA6D; /* Background color for unchecked checkboxes */
}

/* Style for checked checkboxes */
.custom-checkbox input[type="checkbox"]:checked {
    background-color: #145c42; /* Background color for checked checkboxes */
}

/* Hide the checkmark by default */
.custom-checkbox input[type="checkbox"]::before {
    content: '';
    display: none;
}

/* Show the checkmark when checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked::before {
    content: '\2714'; /* Unicode checkmark character */
    display: block;
    text-align: center;
    line-height: 20px; /* Adjust to vertically center the checkmark */
    color: white; /* Color of the checkmark */
}
