body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Dark mode styles */
body.dark-mode {
    background-color: #111;
    /* Dark background color */
    color: #fff;
    /* Light text color */
}

body.dark-mode .navbar {
    background-color: #222;
    /* Background color for navbar in dark mode */
}

body.dark-mode .navbar a {
    color: #fff;
    /* Text color for navbar links in dark mode */
}

body.dark-mode .content {
    color: #fff;
    /* Text color for content in dark mode */
}

/* Dark mode toggle button */
.dark-mode-button {
    position: fixed;
    right: 20px;
    top: 20px;
}

/* Navigation Bar Styles */
.navbar {
    overflow: hidden;
    background-color: #ECECF1;
    display: flex;
    align-items: center;
    /* Default background color for navbar in light mode */
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #00008b;
    /* Default text color for navbar links in light mode */
}

/* Adjust the switch position */
.switch-container {
    position: absolute;
    /* Add this line */
    top: 2%;
    right: 50px;
    /* Move the switch 50 pixels to the left of the right edge */
    transform: translateY(-50%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.slider-container {
    position: relative;
    /* Add this line */
    left: -50%;
    /* Move to the left by half of its width */
    display: inline-block;
}

.container {
    display: flex;
  }
  
  .column {
    flex: 1; /* This makes both columns take up equal space */
    padding: 10px;
    border: 1px solid #ccc;
  }
  